﻿@{ Layout = null; }

@model IEnumerable<GeekStreamProject.Core.ViewModels.Article.ArticleViewModel>

<div class="">
    <p class="font-header" style="color: black !important">Статьи от данного автора (@Model.Count())</p>
    @await Html.PartialAsync("_ArticleList")
</div>
