﻿@{
    Layout = "_Layout";
}


<div class="container content-login ">
    <div class="d-flex bd-highligh flex-column align-items-center">
        <div class="col-sm-8 bg-white p-sm-5 border-login" style="border-radius: 16px">
            <a class="bd-highligh flex-column d-flex mb-sm-3 align-items-center">
                    <img src="~/ImageStorage/Logo/GeekStreamProject_Logo.png" width="40" height="40" alt="">
                </a>
            <p class="text-center font-article-title" style="color: black !important">Письмо для подтверждения аккаунта отправлено</p>
            <p class="font-content">Мы отправили вам письмо на указанную почту с ссылкой для подтверждения аккаунта. <br>
                Если вы не нашли его - проверьте папку "Спам"</p>
        </div>
    </div>
</div>

