﻿@{ Layout = null; }

@model IEnumerable<GeekStreamProject.Core.ViewModels.Article.ArticleViewModel>

<div class="">
    <p class="font-header" style="color: black !important">Мои черновики (@Model.Count())</p>
    @await Html.PartialAsync("_DraftList")
</div>
