﻿@model GeekStreamProject.Core.ViewModels.User.ForgotPasswordViewModel

@{
    Layout = "_Layout";
}

<div class="container content-login ">
    <div class="d-flex bd-highligh flex-column align-items-center">
        <div class="col-sm-5 bg-white p-sm-5 border-login" style="border-radius: 16px">
            <form asp-action="ForgotPassword">
                <a class="bd-highligh flex-column d-flex mb-sm-3 align-items-center">
                    <img src="~/ImageStorage/Logo/GeekStreamProject_Logo.png" width="40" height="40" alt="">
                </a>
                <p class="text-center font-article-title" style="color: black !important">Сброс пароля на GeekStream</p>
                <div class="bd-highligh d-flex flex-column gap-2">
                    <div class="mb-sm-2 ">
                        <label asp-for="Email" class="form-label font-content">Адрес электронной почты для отправки нового пароля</label>
                        <input asp-for="Email" type="email" class="form-control text-formcontrol border-formcontrol" placeholder="Введите email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="d-flex bd-highligh justify-content-end mt-5">
                    <input type="submit" value="Отправить" class="btn btn-purple font-content" />
                </div>
            </form>
        </div>
    </div>
</div>
