﻿@using GeekStreamProject.Core.Services;
@model GeekStreamProject.Core.ViewModels.User.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="container content-login ">
    <div class="d-flex bd-highligh flex-column align-items-center">
        <div class="col-sm-5 bg-white p-sm-5 border-login" style="border-radius: 16px">
            <form asp-action="Login">
                <a class="bd-highligh flex-column d-flex mb-sm-3 align-items-center">
                    <img src="~/ImageStorage/Logo/GeekStreamProject_Logo.png" width="40" height="40" alt="">
                </a>
                <p class="text-center font-article-title" style="color: black !important">Войти на GeekStream</p>
                <div class="bd-highligh d-flex flex-column gap-2">
                    <div class="mb-sm-2 ">
                        <label asp-for="Email" class="form-label font-content">Адрес электронной почты</label>
                        <input asp-for="Email" type="email" class="form-control text-formcontrol border-formcontrol" placeholder="Введите email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-sm-2">
                        <label asp-for="Password" class="form-label font-content">Пароль</label>
                        <input asp-for="Password" type="password" class="form-control text-formcontrol border-formcontrol" placeholder="Введите пароль">
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <span class="text-danger">@Html.ValidationMessage("Error")</span>
                    </div>
                    
                </div>
                <div class="d-flex bd-highligh justify-content-between mt-4">
                    <div>
                        <a asp-action="Register" class="font-login text-decoration-none purple-link">Регистрация</a>
                    </div>
                    <div>
                        <a asp-action="ForgotPassword" class="font-login text-decoration-none purple-link">Забыли пароль?</a>
                    </div>
                </div>
                <div class="d-flex bd-highligh justify-content-end mt-5">
                    <input type="submit" value="Войти" class="btn btn-purple font-content" />
                </div>
            </form>
            <div class="mb-sm-2">
                <span >External logins</span>
                @{
                    if (Model.ExternalLogins.Count == 0)
                    {
                        <div>No external logins configured</div>
                    }
                    else
                    {
                        <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                            <div>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn-primary"
                                            name="provider" value="@provider.Name"
                                            title="Login using your @provider.DisplayName account">
                                        @provider.DisplayName
                                    </button>
                                }
                            </div>
                        </form>
                    }
                } 
                <span class="text-danger">@Html.ValidationMessage("Error")</span>
            </div>
        </div>
    </div>
</div>

@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
