﻿@using GeekStreamProject.Core.Services;
@using GeekStreamProject.Core.ViewModels.User
@using GeekStreamProject.ENums.ENums
@model GeekStreamProject.Core.ViewModels.User.RegisterViewModel
@{ ViewData["Title"] = "Регистрация"; }

<div class="container content-login ">
    <div class="d-flex bd-highligh flex-column align-items-center">
        <div class="col-sm-5 bg-white p-sm-5 border-login" style="border-radius: 16px">
            <form enctype="multipart/form-data" asp-action="Register">
                <a class="bd-highligh flex-column d-flex mb-sm-3 align-items-center">
                    <img src="~/ImageStorage/Logo/GeekStreamProject_Logo.png" width="40" height="40" alt="">
                </a>
                <p class="text-center font-article-title" style="color: black !important">Создание аккаунта</p>
                <div class="bd-highligh d-flex flex-column gap-2">
                    <div class="row justify-content-between mb-sm-2">
                        <div class="col bd-highligh">
                            <label asp-for="FirstName" class="form-label font-content">Имя</label>
                            <input asp-for="FirstName" class="form-control text-formcontrol border-formcontrol" placeholder="Имя">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col bd-highligh">
                            <label asp-for="LastName" class="form-label font-content">Фамилия</label>
                            <input asp-for="LastName" class="form-control text-formcontrol border-formcontrol" placeholder="Фамилия">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-sm-2">
                        <label asp-for="UserName" class="form-label font-content">Никнейм</label>
                        <input asp-for="UserName" class="form-control text-formcontrol border-formcontrol" placeholder="Введите уникальный никнейм">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="mb-sm-2 ">
                        <label asp-for="Email" class="form-label font-content">Адрес электронной почты</label>
                        <input asp-for="Email" type="email" class="form-control text-formcontrol" placeholder="Ваша почта. Мы никому её не скажем">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-sm-2">
                        <label asp-for="Password" class="form-label font-content">Придумайте пароль</label>
                        <input asp-for="Password" type="password" class="form-control text-formcontrol" placeholder="Ваш пароль">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-sm-2">
                        <label asp-for="ConfirmPassword" class="form-label font-content">Повторите пароль ещё раз</label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control text-formcontrol" placeholder="Подтверждение пароля">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="d-flex bd-highligh justify-content-end mt-5">
                    <input type="submit" value="Зарегистрироваться" class="btn btn-purple font-content" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


