﻿@{ Layout = null; }

@model IEnumerable<GeekStreamProject.Core.ViewModels.User.AuthorViewModel>

<div class="">
    <p class="font-header" style="color: black !important">Подписки (@Model.Count())</p>
    @await Html.PartialAsync("_AuthorList")
</div>
