﻿@using System.Security.Claims;
@model GeekStreamProject.Core.ViewModels.Subscription.CreateSubscriptionViewModel

<div class="" id="CreateSubscribe">

    <form asp-action="SubscribeToAuthor" asp-controller="Subscription" method="post">
        <input asp-for="AuthorId" type="hidden" value="@Model.AuthorId"/>
        <input asp-for="AuthorName" type="hidden" value="@Model.AuthorName"/>

        <div class="bd-highlight">
            <input type="submit" value="Подписаться" class="btn btn-purple nav-font"/>
        </div>
    </form>
</div>
