﻿@{
    Layout = "_Layout";
}

<div class="container content-login ">
    <div class="d-flex bd-highligh flex-column align-items-center">
        <div class="col-sm-5 bg-white p-sm-5 border-login" style="border-radius: 16px">
            <a class="bd-highligh flex-column d-flex mb-sm-3 align-items-center">
                    <img src="~/ImageStorage/Logo/GeekStreamProject_Logo.png" width="40" height="40" alt="">
                </a>
            <p class="text-center font-article-title" style="color: black !important">Почта на сайте GeekStream успешно подтверждена</p>
            <div class="d-flex bd-highligh justify-content-center mt-5">
                <a asp-controller="Account" asp-action="Login" class="btn btn-purple font-content">Войти в систему</a>
            </div>
        </div>
    </div>
</div>
