﻿@model IEnumerable<GeekStreamProject.Core.ViewModels.Subscription.SubscriptionViewModel>
@using System.Security.Claims
@using GeekStreamProject.Core.ViewModels.Subscription

@{
    SubscriptionViewModel sub = new SubscriptionViewModel();
    if (Model != null)
    {
       sub = Model.FirstOrDefault(x => x.subscriberViewModel.Id == User.FindFirstValue(ClaimTypes.NameIdentifier));
    }
}

<div class="" id="CreateSubscribe">
    <div class="bd-highlight">
        <a asp-controller="Subscription" asp-action="Unsubscribe" asp-route-subId="@sub.Id" asp-route-userName="@sub.authorViewModel.UserName" class="btn btn-purple nav-font">✓ Вы подписаны</a>
    </div>
</div>
