﻿@model GeekStreamProject.Core.ViewModels.User.UpdatePasswordViewModel

@{
    Layout = "_Layout";
}

<div class="container content-login ">
    <div class="d-flex bd-highligh flex-column align-items-center">
        <div class="col-sm-5 bg-white p-sm-5 border-login" style="border-radius: 16px">
            <form asp-action="UpdatePassword">
                <a class="bd-highligh flex-column d-flex mb-sm-3 align-items-center">
                    <img src="~/ImageStorage/Logo/GeekStreamProject_Logo.png" width="40" height="40" alt="">
                </a>
                <p class="text-center font-article-title" style="color: black !important">Задайте новый пароль</p>
                <div class="bd-highligh d-flex flex-column gap-2">
                    <div class="mb-sm-2 ">
                        <label asp-for="Password" class="form-label font-content">Новый пароль</label>
                        <input asp-for="Password" type="text" class="form-control text-formcontrol border-formcontrol" placeholder="Ваш новый пароль">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-sm-2 ">
                        <label asp-for="ConfirmPassword" class="form-label font-content">Повторите пароль ещё раз</label>
                        <input asp-for="ConfirmPassword" type="text" class="form-control text-formcontrol" placeholder="Подтверждение пароля">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <input asp-for="token" type="hidden" value="@Model.token" />
                <input asp-for="userId" type="hidden" value="@Model.userId" />
                <div class="d-flex bd-highligh justify-content-end mt-5">
                    <input type="submit" value="Сменить пароль" class="btn btn-purple font-content" />
                </div>
            </form>
        </div>
    </div>
</div>
