﻿@{ Layout = null; }

@model GeekStreamProject.Core.ViewModels.User.ChangeAvatarViewModel

<form method="post" enctype="multipart/form-data" asp-action="UpdateAvatar">
    <p class="font-header" style="color: black !important">Изменение аватара</p>
    <div class="form-group mb-4">
        <div class="custom-file">
            <input asp-for="Avatar.File" type="file" class="form-control text-formcontrol border-formcontrol" placeholder="Обложка вашей статьи">
        </div>
        <span asp-validation-for="Avatar" class="text-danger"></span>
    </div>
    <div class="bd-highlight">
        <input type="submit" value="Сохранить" class="btn btn-outline-dark nav-border nav-link nav-font">
    </div>
</form>
