﻿@model GeekStreamProject.Core.ViewModels.User.UserViewModel

@{ ViewData["Title"] = "Пользователь"; }

<input type="hidden" value = @using System.Security.Claims/>
<div class="d-flex bd-highligh flex-column container">
    <div class="d-flex bd-highligh p-3 align-content-center justify-content-between bg-white">

        @{
            bool checkSub = false;

            if (Model.Subscribers != null)
            {
                checkSub = Model.Subscribers.Any(x => x.subscriberViewModel.Id == User.FindFirstValue(ClaimTypes.NameIdentifier));
            }

        }

    <div class="d-flex bd-highligh gap-3 align-items-center">
            <img src="~/@Model.AvatarPath" class="rounded-circle image-profile" alt="" />
            <span class="bd-highlight font-header" style="color: #4F4F4F !important;">
                @Model.FirstName  @Model.LastName ( @Model.UserName )
            </span>
            <div class="d-flex gap-3 bd-highlight">
                <div class="bd-highlight">
                    <img src="~/ImageStorage/Default/DownVector.png" />
                </div>
                <div class="bd-highlight font-content-create" style="color: #219653 !important; font-size: 20px">
                    @Model.Rating
                </div>
                <div class="bd-highlight">
                    <img src="~/ImageStorage/Default/UpVector.png" />
                </div>
            </div>
        </div>
        <div class="d-flex bd-highligh gap-3 align-items-center">
            @if (User.Identity.Name != Model.UserName && User.Identity.IsAuthenticated)
            {
                @if (checkSub)
                {
                    await Html.RenderPartialAsync("UnscribeFromAuthor", Model.Subscribers);
                }
                else
                    await Html.RenderPartialAsync("SubscribeToAuthor", Model.CreateSubscriptionViewModel);

    <div class="bd-highlight">
        <a class="btn btn-outline-dark nav-border nav-link nav-font" href="#">Написать</a>
    </div>
}
            <div class="dropdown">
                <a class="text-decoration-none dropdown-toggle" href="#" role="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                    <img src="~/ImageStorage/Default/BurgerBar.png" />
                </a>

                <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
                    <li><a class="dropdown-item" id="publications" href="#publications">Публикации</a></li>
                    <li><a class="dropdown-item" id="subscriptions" href="#subscriptions">Подписки</a></li>
                    <li><a class="dropdown-item" id="subscribers" href="#subscribers">Подписчики (@Model.Subscribers.Count())</a></li>
                    @if (User.Identity.IsAuthenticated && User.Identity.Name == Model.UserName && User.IsInRole("Moderator"))
                    {
                        <li><a class="dropdown-item" id="moderatorArticles" href="#moderatorArticles">Статьи на рецензии ()</a></li>

                    }
                    @if (User.Identity.Name == Model.UserName && !User.IsInRole("Moderator"))
                    {
                        <li><a class="dropdown-item" id="myNotPublishedArticles" href="#myNotPublishedArticles">Мои не опубликованные статьи ()</a></li>
                        <li><a class="dropdown-item" id="myDrafts" href="#myDrafts">Мои черновики ()</a></li>
                        <li><a class="dropdown-item" id="articlesOnReview" href="#articlesOnReview">Мои статьи на рецензии ()</a></li>
                    }
                    <li><a class="dropdown-item" id="updateAvatar" href="#updateAvatar">Изменить аватар</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column bd-highligh py-3" id="partialViewDiv">@await Html.PartialAsync("AuthorArticles", Model.Articles) </div>
</div>


<script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
<script type="text/javascript">
    $().ready(
        function () {
            $('#publications').on('click',
                function () {
                    $.ajax({
                        url: '@Url.Action("AuthorArticles", new { userId = Model.Id })',
                        data: {},
                        success:
                            function (data) { $('#partialViewDiv').html(data); }
                    });
                });

            $('#subscriptions').on('click',
                    function() {
                        $.ajax({
                            url: '@Url.Action("Subscriptions", new { userId = Model.Id })',
                            data: {  },
                            success:
                                function(data) { $('#partialViewDiv').html(data); }
                            });
                });
            $('#subscribers').on('click',
                    function() {
                        $.ajax({
                            url: '@Url.Action("Subscribers", new { userId = Model.Id })',
                            data: {  },
                            success:
                                function(data) { $('#partialViewDiv').html(data); }
                            });
                });
            $('#updateAvatar').on('click',
                    function() {
                        $.ajax({
                            url: '@Url.Action("UpdateAvatar")',
                            data: {  },
                            success:
                                function(data) { $('#partialViewDiv').html(data); }
                            });
                });

        $('#myDrafts').on('click',
            function() {
            $.ajax({
                url: '@Url.Action("Drafts", new { authorId = Model.Id })',
                data: {  },
                success:
                function(data) { $('#partialViewDiv').html(data); }
                            });
            });

            $('#moderatorArticles').on('click',
            function() {
            $.ajax({
                url: '@Url.Action("Reviews", new { userId = Model.Id })',
                data: {  },
                success:
                function(data) { $('#partialViewDiv').html(data); }
            });
                });
            $('#articlesOnReview').on('click',
            function() {
            $.ajax({
                url: '@Url.Action("MyReviews", new { authorId = Model.Id })',
                data: {  },
                success:
                function(data) { $('#partialViewDiv').html(data); }
            });
                });
            $('#myNotPublishedArticles').on('click',
            function() {
            $.ajax({
                url: '@Url.Action("NotPublishedArticles", new { authorId = Model.Id })',
                data: {  },
                success:
                function(data) { $('#partialViewDiv').html(data); }
            });
            });
            });

</script>
