﻿@model GeekStreamProject.Core.ViewModels.Chat.MessageViewModel



<form class="form-group mt-3" method="post">
    <input type="hidden" id="userInput" asp-for="@Model.AuthorName"/>

    <textarea type="text" class="form-control" id="messageInput" placeholder="Твой комментарий" asp-for="@Model.Content"></textarea>
    <button id="sendButton" class="btn btn-primary" type="button">Отправить</button>
</form>
