﻿
<div>
    <div class="bg-white">
        <div class="d-flex bd-highlight flex-grow-1 shadow-sm align-items-center">
            <div class="bd-highlight col-sm-2 border-end font-author-name py-3 px-4">
                Диалоги
            </div>
            <div class="bd-highligh col-sm-10 p-3">
                Аватарка и Ник
            </div>
        </div>
    </div>

    <div class="d-flex bd-highlight" style="height: 85vh !important">
        <div class="col-sm-2 bd-highlight bg-white boxshadow-chat" >
            <div class="bd-highlight list-group">
                <a href="#" class="list-group-item list-group-item-action">
                    <p class="mb-1">Чат</p>
                    <small class="text-muted">And some muted small print.</small>
                </a>
            </div>
        </div>
        <div class="d-flex flex-column-reverse align-items-sm-end col-sm-10 bd-highlight ">
            <div class="bd-highlight input-group px-3 pb-3">
                <input type="text" class="form-control nav-border box-sended nav-search" placeholder="Ваше сообщение...">
                <button class="btn btn-outline-dark nav-border nav-link nav-font" type="button">Отправить</button>
            </div>
            <div class="bd-highlight">
                Last Message
            </div>

        </div>
    </div>
</div>






