﻿@model IEnumerable<GeekStreamProject.Core.ViewModels.Chat.MessageViewModel>

<div class="list-group" id="messagesList">
    @foreach (var message in Model)
        {
            <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@message.AuthorName</h5>
                    <small class="text-muted">@message.SendedDate</small>
                </div>
                <p class="mb-1">@message.Content</p>
            </a>
        }
</div>
