﻿@using GeekStreamProject.Core.ViewModels.Chat
@model IEnumerable<GeekStreamProject.Core.ViewModels.Chat.MessageViewModel>




<div class="container">
    <a asp-controller="Chat" asp-action="_LayoutChat">ccs</a>
    <p class="font-header pt-4" style="color: black">Чат</p>
    @await Html.PartialAsync("_MessagesListPartial", Model)

    @{
        if (User.Identity.IsAuthenticated)
        {
            MessageViewModel Message = new MessageViewModel();
            await Html.RenderPartialAsync("_CreateMessagePartial", Message);
        }
        else
        {
            <form class="form-group mt-3">
                <textarea type="text" class="form-control" placeholder="Авторизуйтесь чтобы отправлять сообщения в чат"></textarea>
                <button id="sendButton" class="btn btn-primary" type="button" disabled>Отправить</button>
            </form>
        }
    }
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
