﻿@model IEnumerable<GeekStreamProject.Core.ViewModels.User.AuthorViewModel>


<div class="d-flex bd-highligh flex-column gap-sm-4">
    @foreach (var author in Model ?? Enumerable.Empty<AuthorViewModel>())
    {
        <div class="d-flex bd-highligh flex-column gap-3 bg-white article-box p-4">
            <div class="bd-highligh d-flex gap-3 align-content-center justify-content-between">
                <div class="d-flex bd-highligh gap-4 align-items-center ">
                    <a asp-controller="Account" asp-action="UserProfile" asp-route-userName="@author.UserName"
                       class="d-flex bd-highlight align-items-center  gap-2 text-decoration-none">
                        <div class="">
                            <img class="image-authors" src="~/@author.AvatarPath" />
                        </div>
                        <span class="font-header color-name">
                            @author.FirstName  @author.LastName ( @author.UserName )
                        </span>
                    </a>
                    <div class="d-flex bd-highlight gap-3 align-items-center">
                        <span class="font-inter-500">
                            Кол-во статей: @author.CountArticle
                        </span>
                    </div>
                    
                </div>
                <div class="d-flex gap-3 align-content-center bd-highlight">
                    <div class="bd-highlight">
                        <img src="~/ImageStorage/Default/DownVector.png"/>
                    </div>
                    <div class="bd-highlight font-content-create" style="color: #219653 !important; font-size: 20px">
                        @author.Rating
                    </div>
                    <div class="bd-highlight">
                        <img src="~/ImageStorage/Default/UpVector.png"/>
                    </div>
                </div>
            </div>
            @if (author.articleViewModel != null)
            {
                <div class="d-flex bd-highligh align-items-center gap-3">
                    <a asp-controller="Articles" asp-action="DetailArticle" asp-route-id="@author.articleViewModel.Id"
                       class="text-decoration-none"><span class="font-content">@author.articleViewModel.Title</span></a>
                    <span class="color-datecreation font-content-create">@author.articleViewModel.DateOfCreation</span>
                </div>
            }
            
        </div>
    }
</div>

