﻿
@model IEnumerable<GeekStreamProject.Core.ViewModels.Category.CategoryViewModel>
<input type="hidden" value=@using System.Security.Claims />
@foreach (var category in Model ?? Enumerable.Empty<CategoryViewModel>())
{
<div class="row mb-4">
    <div class="bg-white p-0 border-card">
        <div class="bd-highlight category">
            <img src="~/@category.CoverPath" class="mx-auto">
        </div>
        <div class="px-5 py-3">
            <div class="d-flex justify-content-between">
                <div class="d-flex gap-2 align-items-center">
                    <div class="rounded-2 overflow-hidden" style="width: 2rem; height: 2rem;">
                        <img class="img-fluid w-100 h-100 d-block" src="@category.ImagePath" />
                    </div>
                    <a asp-action="ArticlesByCategory" asp-controller="Categories" asp-route-id="@category.Id" class="text-decoration-none">
                        <h3 class="fw-bold" style="color: #4F4F4F">@category.Name</h3>
                    </a>
                    <div class="font-article-content-list">
                        <span>Публикаций: @category.CountArticles</span>
                    </div>
                </div>
            @if (User.Identity.IsAuthenticated && User.FindFirstValue(ClaimTypes.Role) == "Admin")
            {
                <div>
                    <a class="text-decoration-none" asp-controller="Categories" asp-action="Delete" asp-route-id="@category.Id">Удалить</a>
                </div>
            }
            </div>
        </div>
    </div>
</div>}


