﻿@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@using GeekStreamProject.Core.Shared.Entities;

@model IEnumerable<GeekStreamProject.Core.ViewModels.Article.ArticleViewModel>

<div class="d-flex bd-highlight flex-column gap-sm-4">
    @foreach (var article in Model ?? Enumerable.Empty<ArticleViewModel>())
    {
    <div class="d-flex bd-highlight flex-column article-box bg-white gap-3 p-4">
        <div class="d-flex bd-highlight justify-content-between align-items-center">
            <div class="d-flex bd-highlight gap-2">
                <a asp-action="ArticlesByCategory" asp-controller="Categories" asp-route-id="@article.CategoryId"
                   class="d-flex bd-highlight gap-2 text-decoration-none">
                    <div class="image-list">
                        <img class="img-fluid" src="~/@article.CategoryImagePath" />
                    </div>
                    <span class="font-login color-category">
                        @article.CategoryName
                    </span>
                </a>
                <span class="color-datecreation font-content-create">@article.DateOfCreation</span>
            </div>
            <div class="d-flex bd-highlight gap-2 align-items-center">
                <a asp-controller="Account" asp-action="UserProfile" asp-route-userName="@article.AuthorName"
                   class="d-flex bd-highlight gap-2 text-decoration-none">
                    <div class="">
                        <img class="image-list" src="~/@article.AuthorAvatarPath" />
                    </div>
                    <span class="font-login color-name">
                        @article.AuthorName
                    </span>
                </a>
            </div>
        </div>
        <div class="bd-highlight">

            <a asp-controller="Articles" asp-action="CreateArticleFromDraft" asp-route-articleId="@article.Id" class="text-decoration-none" id="title-list-article"><span>@article.Title</span></a>
        </div>
        <div class="bd-highlight box">
            <img src="~/@article.ImagePath" class="mx-auto"  >
        </div>
        <div class="bd-highlight font-article-content-list">
            <span>@article.Description</span>
</div>
        <div class="d-flex bd-highlight justify-content-end">
            <div class="d-flex gap-3 bd-highlight">
                @if (User.Identity.IsAuthenticated && (User.Identity.Name == article.AuthorName || User.FindFirstValue(ClaimTypes.Role) == "Admin"))
                {
                    <div class="bd-highlight">
                        <a asp-controller="Articles" asp-action="Delete" asp-route-id="@article.Id" asp-route-userName="@article.AuthorName" class="btn btn-outline-dark nav-border nav-link nav-font text-decoration-none">Удалить черновик</a>
                    </div>
                }
            </div>
        </div>

    </div>

    }
</div>


