﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - GeekStreamProject</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/chat.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header class="border-nav navbar-expand-sm">
        @if (User.Identity.IsAuthenticated)
        {
            await Html.RenderPartialAsync("ExtendedNavBar");
        }
        else
        {
            await Html.RenderPartialAsync("DefaultNavBar");
        }
    </header>
    
<div class="d-flex bd-highligh flex-column">
    <main role="main">
        <div class="">
            @RenderBody()
        </div>
    </main>
</div>


    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>



    @await RenderSectionAsync("Scripts", required: false)
    @if (IsSectionDefined("ImageLoad"))
    {
        @await RenderSectionAsync("ImageLoad", required: true)
    }
</body>
</html>
