﻿@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@using GeekStreamProject.Core.ViewModels.Review;

@model IEnumerable<GeekStreamProject.Core.ViewModels.Review.ReviewArticleViewModel>

<div class="d-flex bd-highlight flex-column gap-sm-4">
    @foreach (var review in Model ?? Enumerable.Empty<ReviewArticleViewModel>())
    {
    <div class="d-flex bd-highlight flex-column article-box bg-white gap-3 p-4">
        <div class="d-flex bd-highlight justify-content-between align-items-center">
            <div class="d-flex bd-highlight gap-2">
                <a asp-action="ArticlesByCategory" asp-controller="Categories" asp-route-id="@review.ArticleViewModel.Id"
                   class="d-flex bd-highlight gap-2 text-decoration-none">
                    <div class="image-list">
                        <img class="img-fluid" src="~/@review.ArticleViewModel.CategoryImagePath" />
                    </div>
                    <span class="font-login color-category">
                        @review.ArticleViewModel.CategoryName
                    </span>
                </a>
                <span class="color-datecreation font-content-create">@review.ArticleViewModel.DateOfCreation</span>
            </div>
            <div class="d-flex bd-highlight gap-2 align-items-center">
                <a asp-controller="Account" asp-action="UserProfile" asp-route-userName="@review.ArticleViewModel.AuthorName"
                   class="d-flex bd-highlight gap-2 text-decoration-none">
                    <div class="">
                        <img class="image-list" src="~/@review.ArticleViewModel.AuthorAvatarPath" />
                    </div>
                    <span class="font-login color-name">
                        @review.ArticleViewModel.AuthorName
                    </span>
                </a>
            </div>
        </div>
        <div class="bd-highlight">
            <a asp-controller="ArticleReviews" asp-action="ReviewArticle" asp-route-id="@review.ArticleViewModel.Id" class="text-decoration-none" id="title-list-article"><span>@review.ArticleViewModel.Title</span></a>
        </div>
        <div class="bd-highlight box">
            <img src="~/@review.ArticleViewModel.ImagePath" class="mx-auto"  >
        </div>
        <div class="bd-highlight font-article-content-list">
            <span>@review.ArticleViewModel.Description</span>
</div>
        <div class="d-flex bd-highlight justify-content-between">
            <div class="d-flex gap-2 bd-highlight">
                <div class="bd-highlight">
                    <img src="~/ImageStorage/Default/Comment.png" />
                </div>
                <div class="bd-highlight font-content" style="color: #828282 !important; font-size: 20px">
                    @review.ArticleViewModel.CommentCount
                </div>
            </div>
            <div class="d-flex gap-3 bd-highlight">
                @if (User.Identity.IsAuthenticated && User.FindFirstValue(ClaimTypes.Role) == "Admin")
                {
                    <div class="bd-highlight">
                        <a asp-controller="Articles" asp-action="Delete" asp-route-id="@review.ArticleViewModel.Id" class="text-decoration-none">Удалить</a>
                    </div>
                }
            </div>
        </div>

    </div>

    }
</div>


