﻿@using AutoMapper.Configuration.Annotations
@{
    string _state = Guid.NewGuid().ToString();
}

<nav class="navbar navbar-light bg-white">
    <div class="container-fluid align-content-center nav-font">
        <div class="d-flex gap-3 py-2">
            <div>
                <a class="navbar-brand" asp-controller="Articles" asp-action="Articles">
                    <img src="~/ImageStorage/Logo/GeekStreamProject_Logo.png" width="40" height="40" alt="">
                </a>
            </div>
            <div>
                <ul class="nav gap-3 align-content-center">
                    <li class="nav-item">
                        <a class="nav-link px-0" asp-controller="Articles" asp-action="Articles">Статьи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-0" asp-controller="Chat" asp-action="Chat">Дискуссии</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-0" asp-controller="Categories" asp-action="Categories">Категории</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-0" asp-controller="Account" asp-action="Authors">Авторы</a>
                    </li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="btn btn-purple nav-font" asp-controller="Account" asp-action="ForAnonymUser">Написать статью</a>
                        </li>
                    }
                    else if (User.Identity.IsAuthenticated && User.IsInRole("Moderator"))
                    {
                        <li class="nav-item">
                            <a class="btn btn-purple nav-font" asp-controller="Account" asp-action="ForAnonymUser">Написать статью</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="btn btn-purple nav-font" asp-controller="Articles" asp-action="Create">Написать статью</a>
                        </li>
                    }

                    
                </ul>
            </div>
            <form class="d-flex gap-3 align-content-center">
                <input class="form-control mr-sm-2 nav-border nav-search" type="search" placeholder="Найти статью" aria-label="Найти статью">
                <button class="btn btn-outline-dark nav-border nav-link nav-font" type="submit">Поиск</button>
            </form>

        </div>
        <div>
            <div class="d-flex gap-3">
                <div>
                    <a class="btn btn-outline-dark nav-border nav-font nav-link" asp-controller="Account" asp-action="Login">Войти</a>
                </div>
                <div>
                    <a class="btn btn-outline-dark nav-border nav-font nav-link" href=@Url.Action("Register","Account",new { state = _state })>Регистрация</a>
                </div>
            </div>
        </div>
    </div>
</nav>
