﻿@using AutoMapper.Configuration.Annotations
@using System.Security.Claims;
@using GeekStreamProject.Core.Shared.Abstractions.DataAccess;
@using Microsoft.AspNetCore.Http;

@{
    var avatarUrl = User.Claims
        .Where(c => c.Type == "avatarUrl")
        .Select(c => c.Value).FirstOrDefault(); }

<nav class="navbar navbar-light bg-white">
    <div class="container-fluid align-content-center nav-font">
        <div class="d-flex gap-3 py-2">
            <div>
                <a class="navbar-brand" asp-controller="Articles" asp-action="Articles">
                    <img src="~/ImageStorage/Logo/GeekStreamProject_Logo.png" width="40" height="40" alt="">
                </a>
            </div>
            <div>
                <ul class="nav gap-3 align-content-center">
                    <li class="nav-item">
                        <a class="nav-link px-0" asp-controller="Articles" asp-action="Articles">Статьи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-0" asp-controller="Chat" asp-action="Chat">Дискуссии</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-0" asp-controller="Categories" asp-action="Categories">Категории</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-0" asp-controller="Account" asp-action="Authors">Авторы</a>
                    </li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="btn btn-purple nav-font" asp-controller="Account" asp-action="ForAnonymUser">Написать статью</a>
                        </li>
                    }
                    else if (User.Identity.IsAuthenticated && User.IsInRole("Moderator"))
                    {
                        <li class="nav-item">
                            <a class="btn btn-purple nav-font" asp-controller="Account" asp-action="ForModeratorUser">Написать статью</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="btn btn-purple nav-font" asp-controller="Articles" asp-action="Create">Написать статью</a>
                        </li>
                    }
                </ul>
            </div>
            <form class="d-flex gap-3 align-content-center">
                <input class="form-control mr-sm-2 nav-border nav-search" type="search" placeholder="Найти статью" aria-label="Найти статью">
                <button class="btn btn-outline-dark nav-border nav-link nav-font" type="submit">Поиск</button>
            </form>

        </div>
        <div>
            <div>
                <ul class="nav gap-3 align-content-center">
                    <li class="nav-item">
                        <a class="nav-link nav-user px-0" asp-controller="Account" asp-action="UserProfile" asp-route-userName="@User.Identity.Name">
                            Hello, @User.Identity.Name
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="px-0" asp-controller="Account" asp-action="UserProfile" asp-route-userName="@User.Identity.Name">
                            <img src="~/@avatarUrl" class="nav-image" alt="" />
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-dark nav-border nav-link nav-font" asp-controller="Account" asp-action="UserSignOut" asp-route-id="@User.Identity.Name" >Выйти</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
