
.image-profile {
    height: 72px !important;
    width: 72px !important;
}

.article-box {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.image-authors {
    width: 55px !important;
    height: 55px !important;
    border-radius: 50%;
    object-fit: cover;
}

.image-bycategory {
    width: 48px !important;
    height: 48px !important;
    object-fit: cover;
}
