body {
    background: #E5E5E5 !important;
}
.rating-down:hover {
    background: red;
}

.rating-up:hover {
    color: green;
}

.box {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 200px;
}

    .box img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

.category {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 150px;
}

    .category img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

.detail {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;
}

    .detail img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

#title-list-article {
    font-family: 'Inter', sans-serif !important;
    font-weight: 600 !important;
    font-size: 24px;
    color: #7566BF !important;
}

    #title-list-article:hover {
        color: #7B61FF !important;
    }

.border-formcontrol {
    border-radius: 8px !important;
}

.color-name {
    color: #383838 !important;
}

.color-category {
    color: #4F4F4F !important;
}

.color-datecreation {
    color: #838383 !important;
}

.content-login {
    margin: 4rem;
}

.font-login {
    font-family: 'Inter', sans-serif !important;
    font-weight: 600 !important;
}

.text-formcontrol::placeholder {
    color: #6C757D !important;
    font-family: 'Inter', sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px !important;

}

#CreateArticle {
    background: #ffffff;
}

#avatarUserProfile {
    object-fit: cover;
    width: 100px;
    height: 100px;
}

span {
    word-wrap: break-word !important;
}

.font-inter-500 {
    font-family: 'Inter', sans-serif !important;
    font-weight: 500 !important;
    color: #828282 !important;
}

.font-article-content {
    font-family: 'Roboto', sans-serif;
    line-height: 32px;
    font-size: 24px;
    color: #383838 !important;
}

.font-article-content-list {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #828282 !important;
}

.font-header {
    font-family: 'Inter', sans-serif !important;
    font-weight: 600 !important;
    font-size: 24px;
}

.font-article-title {
    font-family: 'Inter', sans-serif !important;
    font-weight: 600 !important;
    font-size: 32px;
    line-height: 40px;
    color: #383838 !important;
}

.font-content-create {
    font-family: 'Inter', sans-serif !important;
    font-weight: 400 !important;
}

.font-author-name {
    font-family: 'Inter', sans-serif !important;
    font-weight: 600 !important;
    font-size: 20px;
}

.font-content {
    font-family: 'Inter', sans-serif !important;
    font-weight: 400 !important;
}

.border-login {
    border-radius: 16px;
    border: 1px solid #CED4DA !important;
}

.nav-image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.image-list {
    width: 24px !important;
    height: 24px !important;
    border-radius: 50%;
    object-fit: cover;
}

.comment-image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
}

.nav-font {
    font-family: 'Inter', sans-serif !important;
    font-weight: 600 !important;
    line-height: 24px;
}

.nav-link {
    color: #828282 !important;
}

.nav-link.nav-user {
    color: #383838 !important;
}

.nav-border {
    border-radius: 8px;
    border: 1px solid #CED4DA !important;
}

.nav-search {
    color: black !important;
}

.btn-purple {
    color: #F2F2F2 !important;
    background: #7B61FF !important;
    padding: 8px 16px;
    border-radius: 8px;
}

.border-nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
    border-radius: 0.25rem;
}

.border-card {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.purple-link {
    color: #7b61ff !important;
}

.purple-link:hover {
    color: #6447ff !important;
}

.btn-purple:hover {
    background: #6447ff !important;
    color: white !important;
}

.nav-link:hover {
    color: black !important;
}

.btn-outline-dark:hover {
    border: 1px solid #7B61FF !important;
    background: white !important;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: #6a6a6a;
}
::-webkit-scrollbar-thumb:hover{
    background: #7B61FF;
}
