﻿@using GeekStreamProject.Core.Services;
@using GeekStreamProject.Core.ViewModels.Category
@using System.Linq
@using System.Collections.Immutable
@using GeekStreamProject.ENums.ENums

@using Microsoft.AspNetCore.Http
@model GeekStreamProject.Core.ViewModels.Article.CreateArticleViewModel

@{
    ViewData["Title"] = "Создание статьи";
}

<div class="d-flex flex-column bd-highlight p-4 container" id="CreateArticle">
    <form method="post" enctype="multipart/form-data" asp-action="Create">
        <div class="d-flex bd-highlight gap-2 align-items-center">
            <div class="flex-grow-1 bd-highlight font-header" style="color: #838383 !important;">
                Новая статья
            </div>
            <div class="bd-highlight">
                <input type="submit" value="Сохранить черновик" asp-route-articleMode="@EArticleMode.Draft" class="btn btn-outline-dark nav-border nav-link nav-font" />
            </div>
            <div class="bd-highlight">
                <input type="submit" value="Отправить на рецензирование" asp-route-articleMode="@EArticleMode.UnderReview" class="btn btn-purple nav-font" />
            </div>
        </div>
        <div class="font-content-create" style="color: #212529 !important">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-4">
                <label asp-for="Title" class="form-label">Придумайте название статьи</label>
                <input asp-for="Title" class="form-control" placeholder="Придумайте название статьи" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <label asp-for="CategoryId" class="form-label">Выберите категории для статьи</label>
                <select asp-for="CategoryId" class="form-select">
                    <option selected>Выберите категорию...</option>

                    @foreach (CategoryViewModel item in ViewBag.Categories)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }


                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <label asp-for="ImageViewModel" class="form-label font-content">Обложка вашей статьи (отображается в ленте)</label>
                <div class="custom-file">
                    <input asp-for="ImageViewModel.File" type="file" class="form-control text-formcontrol border-formcontrol" placeholder="Обложка вашей статьи">
                </div>
                <span asp-validation-for="ImageViewModel" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <label asp-for="Description" class="form-label">Описание статьи (отображается в ленте)</label>
                <textarea asp-for="Description" class="form-control" required rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Content" class="form-label">Текст статьи</label>
                <textarea asp-for="Content" class="form-control" required rows="15"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
