﻿@using GeekStreamProject.Core.Services;
@using GeekStreamProject.ENums.ENums
@model GeekStreamProject.Core.ViewModels.Article.ArticleViewModel

@{ ViewData["Title"] = "Статья"; }

<div class="d-flex flex-column bd-highlight pt-3 container" id="CreateArticle">
    <div class="d-flex flex-column bd-highlight gap-3 p-3">
        <div class="d-flex bd-highligh justify-content-between gap-3">
            <div class="d-flex bd-highlight gap-2 align-items-center">
                <a asp-action="ArticlesByCategory" asp-controller="Categories" asp-route-id="@Model.CategoryId"
                   class="d-flex bd-highlight gap-2 text-decoration-none" style="color: #4F4F4F">
                    <div class="rounded-2 overflow-hidden bd-highlight" style="width: 24px; height: 24px;">
                        <img class="img-fluid w-100 h-100 d-block" src="~/@Model.CategoryImagePath" />
                    </div>
                    <div class="bd-highlight nav-font">
                        @Model.CategoryName
                    </div>
                </a>
                <div class="bd-highlight font-content">
                    <small style="color: #838383 !important">@Model.DateOfCreation</small>
                </div>
            </div>
            <div class="d-flex bd-highligh align-items-center gap-3">
                @if (Model.AuthorName == User.Identity.Name)
                {
                    <div class="bd-highlight">
                        <a asp-controller="Articles" asp-action="AddArticleToDraft" asp-route-articleId="@Model.Id" class="text-decoration-none btn btn-outline-dark nav-border nav-link nav-fon">Сохранить черновик</a>
                    </div>
                }
                @if (Model.ArticleMode == EArticleMode.InProcessPublished && Model.AuthorName == User.Identity.Name)
                {
                    <div class="bd-highlight">
                        @await Html.PartialAsync("~/Views/Articles/ToPublishArticle.cshtml", Model.publishViewModel)
                    </div>
                }
                @if (Model.ArticleMode == EArticleMode.Published && Model.AuthorName == User.Identity.Name)
                {
                    <div class="bd-highlight">
                        <div class="bd-highlight">
                            <a class="disabled btn btn-purple nav-font">✓ Статья опубликована</a>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="bd-highlight font-article-title">
            <span>@Model.Title</span>
        </div>
        <div class="bd-highlight detail">
            <img src="~/@Model.ImagePath" class="mx-auto">
        </div>
        <div class="text-dark bd-highlight font-article-content-list pt-3">
            <span>@Model.Description</span>
        </div>
        <div class="text-dark bd-highlight font-article-content pt-3">
            <span>@Model.Content</span>
        </div>
        <div class="d-flex justify-content-between bd-highlight align-items-center gap-3 pt-3 px-3">
            <div class="d-flex gap-3 bd-highlight justify-content-start">
                <a class="d-flex bd-highlight gap-3 align-items-center text-decoration-none" asp-controller="Account" asp-action="UserProfile" asp-route-userName="@Model.AuthorName">
                    <img src="~/@Model.AuthorAvatarPath" class="nav-image" alt="" />
                    <div class="bd-highlight font-author-name" style="color: #4F4F4F !important;">
                        @Model.AuthorName
                    </div>
                </a>
            </div>

            <div class="d-flex gap-3 bd-highlight">
                <div class="bd-highlight">
                    <img src="~/ImageStorage/Default/DownVector.png" />
                </div>
                <div class="bd-highlight font-content-create" style="color: #219653 !important; font-size: 20px">
                    @Model.Rating
                </div>
                <div class="bd-highlight">
                    <img src="~/ImageStorage/Default/UpVector.png" />
                </div>
            </div>
        </div>
        <div class="bd-highlight font-author-name pt-2" style="color: #383838">
            Ревью (@Model.ReviewComments.Count())
        </div>


        <div class="bd-highlight">
            @await Html.PartialAsync("GetReviewsToArticle", Model)
        </div>
        <div class="bd-highlight font-author-name pt-2" style="color: #383838">
            Комментарии (@Model.CommentCount)
        </div>


        <div class="bd-highlight">
            @await Html.PartialAsync("GetCommentsToArticle", Model)
        </div>

    </div>
    </div>

