﻿@using GeekStreamProject.ENums.ENums
@model GeekStreamProject.Core.ViewModels.Article.ArticleViewModel
<input type="hidden" value=@using System.Security.Claims />
<div class="d-flex flex-column bd-highlight gap-3">
    @{
        var count = 0;
    }
    @foreach (var comment in Model.Comments)
    {
        count++;
        <div class="d-flex flex-column bd-highlight gap-2 card px-3 py-2">
            @if (comment.ParentCommentContent != null)
            {
                <p><small>Ответ на: @comment.ParentCommentContent</small></p>
            }
            <div class="d-flex gap-2 bd-highlight justify-content-start align-items-center text-decoration-none">
                <a class="d-flex bd-highlight gap-2 align-items-center text-decoration-noned-flex bd-highlight gap-2 align-items-center text-decoration-none"
                   asp-controller="Account" asp-action="UserProfile" asp-route-id="@comment.CommentatorName" asp-route-userName="@comment.CommentatorName">
                    <img src="~/@comment.CommentatorAvatarUrl" class="bd-highlight comment-image " alt="" />
                    <div class="bd-highlight nav-font" style="color: #383838 !important;">
                        @comment.CommentatorName
                    </div>
                </a>
                <small class="bd-highlight font-content" style="color: #838383 !important">@comment.DateOfCreation</small>
            </div>

            <div class="bd-highlight font-inter-500">
                <span style="word-wrap: break-word;">@comment.Content</span>
            </div>

            <div class="d-flex justify-content-between bd-highlight align-items-center">
                <div class="bd-highlight">
                    <a class="bd-highlight text-decoration-none font-author-name" style="font-size: 16px !important; color: #4F4F4F !important"
                       href="#AddComment" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Ответить
                    </a>
                    <div class="collapse" id="AddComment">
                        <div class="bd-highlight px-3 pt-2">
                            @if (User.Identity.IsAuthenticated)
                            {
                                comment.CreateViewModel = new() { ArticleId = comment.ArticleId, ParentCommentId = comment.Id };
                                await Html.RenderPartialAsync("~/Views/Comments/AddNewComment.cshtml", comment.CreateViewModel);
                            }
                        </div>
                    </div>
                </div>


                <div class="d-flex gap-3 bd-highlight">
                    @if (Model.ArticleMode != EArticleMode.UnderReview)
                    {
                        @if (User.Identity.IsAuthenticated && (User.FindFirstValue(ClaimTypes.Role) == "Admin" || User.FindFirstValue(ClaimTypes.Role) == "Moderator"))
                        {
                            <div class="d-flex bd-highlight">
                                <a class=" bd-highlight text-decoration-none font-author-name" asp-controller="Comment"
                                   asp-action="DeleteComment" asp-route-id="@comment.Id" asp-route-articleId="@comment.ArticleId" style="font-size: 16px; color: #4F4F4F !important">
                                    Удалить
                                </a>
                            </div>
                        }
                    }

                    <div class="bd-highlight">
                        <img src="~/ImageStorage/Default/DownVector.png" />
                    </div>
                    <div class="bd-highlight font-content-create" style="color: #219653 !important; font-size: 20px">
                        @comment.Rating
                    </div>
                    <div class="bd-highlight">
                        <img src="~/ImageStorage/Default/UpVector.png" />
                    </div>
                </div>
            </div>
        </div>
    }
    @if (User.Identity.IsAuthenticated && Model.ArticleMode == EArticleMode.Published)
    {
        <div class="bd-highlight pt-2">
            @{
                Model.CreateCommentViewModel.ParentCommentId = null;
            }
            @await Html.PartialAsync("~/Views/Comments/AddNewComment.cshtml", Model.CreateCommentViewModel)
        </div>
    }
    else if (!User.Identity.IsAuthenticated)
    {
        <div class="alert alert-warning bd-highlight pt-2" role="alert">
            Вы не авторизованы для написания комментария!
        </div>
    }
    else if (User.Identity.IsAuthenticated && (Model.ArticleMode == EArticleMode.UnderReview || Model.ArticleMode == EArticleMode.InProcessPublished) && User.IsInRole("Moderator"))
    {
<div class="bd-highlight pt-2">
    @{
        Model.CreateCommentViewModel.ParentCommentId = null;
    }
    @await Html.PartialAsync("~/Views/Comments/AddNewComment.cshtml", Model.CreateCommentViewModel)
</div>
    }
</div>
