﻿@using System.Security.Claims;
@using GeekStreamProject.ENums.ENums;
@model GeekStreamProject.Core.ViewModels.Article.CreatePublishViewModel


    <div class="" id="CreateApprove">
        <form asp-action="ToPublishArticle" asp-controller="Articles" asp-route-id="@Model.ArticleId" method="post">
            <input asp-for="ArticleMode" type="hidden" value="@EArticleMode.Published" />
            <input asp-for="ArticleId" type="hidden" value="@Model.ArticleId" />

            <div class="bd-highlight">
                <input type="submit" value="Опубликовать" class="btn btn-purple nav-font" />
            </div>
        </form>
    </div>


