﻿@model GeekStreamProject.Core.ViewModels.Comment.CreateCommentViewModel


<div class="" id="CreateCommentary">
    <form asp-controller="Articles" asp-action="AddNewComment" asp-route-articleReview="@Model.articleReview" method="post">

        <div class="font-content-create d-flex gap-3 bd-highlight" style="color: #212529 !important">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="bd-highlight input-group mb-sm-4">
                <textarea asp-for="Content" class="form-control" cols="80" placeholder="Ваш комментарий" style="resize: none"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="bd-highlight">
                <input type="submit" value="Ответить" class="btn btn-outline-dark nav-border nav-link" />
            </div>
        </div>
        <input asp-for="ArticleId" type="hidden" value="@Model.ArticleId" />
        <input asp-for="ParentCommentId" type="hidden" value="@Model.ParentCommentId" />
        <input asp-for="ArticleReviewId" type="hidden" value="@Model.ArticleReviewId" />
    </form>
</div>

