﻿@using System.Security.Claims;
@using GeekStreamProject.ENums.ENums;
@model GeekStreamProject.Core.ViewModels.Review.CreateApproveViewModel


    <div class="" id="CreateApprove">
        <form asp-action="ApproveArticle" asp-controller="ArticleReviews" asp-route-articleReviewId="@Model.ArticleReviewId" method="post">
            <input asp-for="UserId" type="hidden" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
            <input asp-for="ArticleReviewId" type="hidden" value="@Model.ArticleReviewId" />
            <input asp-for="IsApproved" type="hidden" value="@true" />

            <div class="bd-highlight">
                <input type="submit" value="Одобрить статью" class="btn btn-purple nav-font" />
            </div>
        </form>
    </div>


