﻿@using GeekStreamProject.Core.Services;
@using GeekStreamProject.ENums.ENums
@model GeekStreamProject.Core.ViewModels.Review.ReviewArticleViewModel
<input type="hidden" value=@using System.Security.Claims />
@{ ViewData["Title"] = "Рецензия"; }

@{
    Model.ArticleViewModel.CreateCommentViewModel.articleReview = true;
}

<div class="d-flex flex-column bd-highlight pt-3 container" id="CreateArticle">
    <div class="d-flex flex-column bd-highlight gap-3 p-3">
        <div class="flex-grow-1 bd-highlight font-header" style="color: #838383 !important;">
            Ревью статьи
        </div>
        <div class="d-flex bd-highlight gap-2 justify-content-between align-items-center">
            <div class="d-flex bd-highlight gap-2 align-items-center">
                <a asp-action="ArticlesByCategory" asp-controller="Categories" asp-route-id="@Model.ArticleViewModel.CategoryId"
                   class="d-flex bd-highlight gap-2 text-decoration-none" style="color: #4F4F4F">
                    <div class="rounded-2 overflow-hidden bd-highlight" style="width: 24px; height: 24px;">
                        <img class="img-fluid w-100 h-100 d-block" src="~/@Model.ArticleViewModel.CategoryImagePath" />
                    </div>
                    <div class="bd-highlight nav-font">
                        @Model.ArticleViewModel.CategoryName
                    </div>
                </a>
                <div class="bd-highlight font-content">
                    <small style="color: #838383 !important">@Model.ArticleViewModel.DateOfCreation</small>
                </div>
            </div>

            @if (User.Identity.IsAuthenticated && Model.ApproveViewModels != null && Model.ApproveViewModels.Any(x => x.UserName == User.Identity.Name) && (Model.ArticleViewModel.ArticleMode == EArticleMode.UnderReview || Model.ArticleViewModel.ArticleMode == EArticleMode.InProcessPublished))
            {
                <div class="bd-highlight">
                    <div class="" id="CreateApprove">
                        <div class="bd-highlight">
                            <a href="#" class="text-decoration-none disabled btn btn-purple nav-font disabled">✓ Статья одобрена</a>
                        </div>
                    </div>
                </div>

            }
            else if (User.Identity.IsAuthenticated && User.IsInRole("Moderator") && Model.ArticleViewModel.Comments != null &&
                     Model.ArticleViewModel.Comments.Any(x => x.CommentatorName == User.Identity.Name) && (Model.ArticleViewModel.ArticleMode == EArticleMode.UnderReview || Model.ArticleViewModel.ArticleMode == EArticleMode.InProcessPublished))
            {
                <div class="bd-highlight">
                    @await Html.PartialAsync("ApproveArticle", Model.CreateApproveViewModel)
                </div>
            }
            else if (User.Identity.IsAuthenticated && User.IsInRole("Moderator") &&
                     !Model.ArticleViewModel.Comments.Any(x => x.CommentatorName == User.Identity.Name) && (Model.ArticleViewModel.ArticleMode == EArticleMode.UnderReview || Model.ArticleViewModel.ArticleMode == EArticleMode.InProcessPublished))
            {
                <div class="d-flex flex-column bd-highligh">
                    <a href="#" class="text-decoration-none disabled btn btn-purple nav-font">Одобрить статью</a>
                    <span class="font-inter-500">Ожидает написания рецензии</span>
                </div>
            }

            @if (User.Identity.IsAuthenticated && User.Identity.Name == Model.ArticleViewModel.AuthorName && Model.ApproveViewModels.Count() == 0 && Model.ArticleViewModel.ArticleMode == EArticleMode.UnderReview)
            {
                <div class="d-flex bd-highligh align-content-center gap-3 justify-content-end">
                    <div class="bd-highlight">
                        <a asp-controller="Articles" asp-action="AddArticleToDraft" asp-route-articleId="@Model.ArticleViewModel.Id" class="text-decoration-none btn btn-outline-dark nav-border nav-link nav-fon">Сохранить черновик</a>
                    </div>
                    <div class="d-flex flex-column bd-highligh">
                        <a href="#" class="text-decoration-none disabled btn btn-purple nav-font">Опубликовать</a>
                        <span class="font-inter-500">Ожидает подтверждения</span>
                    </div>
                </div>
                
            }
            else if (User.Identity.IsAuthenticated && User.Identity.Name == Model.ArticleViewModel.AuthorName && Model.ApproveViewModels.Count() != 0 && Model.ApproveViewModels.Any(x => x.IsApproved == true) && Model.ArticleViewModel.ArticleMode == EArticleMode.InProcessPublished)
            {<div class="d-flex justify-content-end bd-highligh gap-3">
                 <div class="bd-highlight">
                     <a asp-controller="Articles" asp-action="AddArticleToDraft" asp-route-articleId="@Model.ArticleViewModel.Id" class="text-decoration-none btn btn-outline-dark nav-border nav-link nav-fon">Сохранить черновик</a>
                 </div>
                 <div class="bd-highlight">
                     @await Html.PartialAsync("~/Views/Articles/ToPublishArticle.cshtml", Model.ArticleViewModel.publishViewModel)
                 </div>
             </div>


            }
        </div>
       

        
        <div class="bd-highlight font-article-title">
            <span>@Model.ArticleViewModel.Title</span>
        </div>
        <div class="bd-highlight detail">
            <img src="~/@Model.ArticleViewModel.ImagePath" class="mx-auto">
        </div>
        <div class="text-dark bd-highlight font-article-content-list pt-3">
            <span>@Model.ArticleViewModel.Description</span>
        </div>
        <div class="text-dark bd-highlight font-article-content pt-3">
            <span>@Model.ArticleViewModel.Content</span>
        </div>
        <div class="d-flex justify-content-between bd-highlight align-items-center gap-3 pt-3 px-3">
            <div class="d-flex gap-3 bd-highlight justify-content-start">
                <a class="d-flex bd-highlight gap-3 align-items-center text-decoration-none" asp-controller="Account" asp-action="UserProfile" asp-route-userName="@Model.ArticleViewModel.AuthorName">
                    <img src="~/@Model.ArticleViewModel.AuthorAvatarPath" class="nav-image" alt=""/>
                    <div class="bd-highlight font-author-name" style="color: #4F4F4F !important;">
                        @Model.ArticleViewModel.AuthorName
                    </div>
                </a>
            </div>
        </div>
        <div class="bd-highlight font-author-name pt-2" style="color: #383838">
            Ревью (@Model.ArticleViewModel.CommentCount)
        </div>


        <div class="bd-highlight">
            @await Html.PartialAsync("~/Views/Articles/GetCommentsToArticle.cshtml", Model.ArticleViewModel)
        </div>

    </div>
    </div>

