﻿@model IEnumerable<GeekStreamProject.Core.ViewModels.Review.ApproveViewModel>
@using System.Security.Claims
@using GeekStreamProject.Core.ViewModels.Review



@{
    ApproveViewModel reviewer = new ApproveViewModel();
    if (Model != null)
    {
        reviewer = Model.FirstOrDefault(x => x.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier));
    }
}

<div class="" id="CreateSubscribe">
    <div class="bd-highlight">
        <a asp-controller="ArticleReviews" asp-action="UnApprove" asp-route-approveId="@reviewer.Id" asp-route-articleReviewId="@reviewer.ArticleReviewId" class="btn btn-purple nav-font">✓ Статья одобрена</a>
    </div>
</div>
