﻿@using GeekStreamProject.Core.Services;
@model IEnumerable<GeekStreamProject.Core.ViewModels.Article.ArticleViewModel>

@{
    ViewData["Title"] = "Статьи по категории";
}

@{
    var CategoryName = Model.First().CategoryName;
    var CategoryPath = Model.First().CategoryCoverPath;
    var ImageCategory = Model.First().ImagePath;
}
@if (CategoryName != null)
{
    <div class="container">
        <div class="d-flex bd-highligh flex-column">
            <div class="bd-highlight box">
                <img src="~/@CategoryPath" class="mx-auto">
            </div>
            <div class="bd-highlight gap-3 align-items-center bg-white p-3 d-flex">
                <img src="~/@ImageCategory" class="image-bycategory" alt="" />
                <span class="bd-highlight font-header" style="color: #4F4F4F !important;">
                    @CategoryName
                </span>
            </div>
        </div>
        @await Html.PartialAsync("_ArticleList")

    </div>
}

