﻿@using GeekStreamProject.Core.Services;
@using System.Security.Claims;

@{ ViewData["Title"] = "Категории"; }



<div class="container">
    <p class="font-header w-50 pt-4" style="color:black">Категории</p>
    @await Html.PartialAsync("_CategoryList")
</div>

@if (User.Identity.IsAuthenticated && User.FindFirstValue(ClaimTypes.Role) == "Admin")
{
<p>
    <a asp-controller="Categories" asp-action="Create">Создать</a>
</p>
}

