﻿@model GeekStreamProject.Core.ViewModels.Category.CreateCategoryViewModel
@{
    ViewData["Title"] = "Создание категории";
}

<div class="container content-login ">
    <div class="d-flex bd-highligh flex-column align-items-center">
        <div class="col-sm-5 bg-white p-sm-5 border-login" style="border-radius: 16px">
            <form method="post" enctype="multipart/form-data" asp-action="Create">
                <a class="bd-highligh flex-column d-flex mb-sm-3 align-items-center">
                    <img src="~/ImageStorage/Logo/GeekStreamProject_Logo.png" width="40" height="40" alt="">
                </a>
                <p class="text-center font-article-title" style="color: black !important">Создание категории</p>
                <div class="bd-highligh d-flex flex-column gap-2">
                    <div class="mb-sm-2">
                        <label asp-for="CoverViewModel.File" class="form-label font-content">Обложка</label>
                        <div class="custom-file">
                            <input asp-for="CoverViewModel.File" type="file" class="form-control text-formcontrol border-formcontrol" placeholder="Задний фон категории">
                        </div>
                        <span asp-validation-for="CoverViewModel.File" class="text-danger"></span>
                    </div>
                    <div class="mb-sm-2">
                        <label asp-for="ImageViewModel.File" class="form-label font-content">Лого</label>
                        <div class="custom-file">
                            <input asp-for="ImageViewModel.File" type="file" class="form-control text-formcontrol border-formcontrol" placeholder="Лого категории">
                        </div>
                        <span asp-validation-for="ImageViewModel.File" class="text-danger"></span>
                    </div>
                    <div class="mb-sm-2">
                        <label asp-for="Name" class="form-label font-content">Название категории</label>
                        <input asp-for="Name" class="form-control text-formcontrol" placeholder="Название категории">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="d-flex bd-highligh justify-content-end mt-5">
                        <input type="submit" value="Создать новую категорию" class="btn btn-purple font-content" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

